.student-form{
    width: 90%;
    margin: 0 auto;
    /* padding-top: 3rem; */
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.1rem;
    max-width: 450px;
}

.form-heading{
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    color: #446282;

}

.sam{
    /* max-width: 450px; */
    /* width: 90%; */
    /* overflow-x: scroll; */
    /* background: rgba(0, 0, 0, 0.772); */
    padding: 0%;
    margin: 0%;
}
option{
    max-width: 450px;
    width: 90%;
    overflow-x: scroll;
    /* background: rgba(0, 0, 0, 0.772); */
}

.count{
    display: flex;
    align-items: center;
    padding: 1rem 0;
    font-size: 1.1rem;
}

.count label{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

.count-child{
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    column-gap: 1.3rem;
}

.counts input{
    margin: 0.3rem;
}

.css-1fdsijx-ValueContainer {
    
    padding: 0%;
    margin: 0%;
}



a{
    text-decoration: none;
}

.no-college{
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 3px 10px;
}

.table-heading{
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    color: #446282;

}
.college-items{
    text-align: start;
    margin: 2px auto;
    width: 100%;
}

.college-item{
    width: 100%;
}

td{
    padding: 10px;
    vertical-align:middle;
}

.college-data{
    width: 100%;
    size: flex;
    align-items: center;
    justify-content: center;
}



.college-name{
    max-width: 300px;
    text-wrap: wrap;
    font-style: normal;
}
.college-table{
    overflow-x:auto;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    justify-content: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.table-header{
    background-color: #446282;
}

.table-header td{
    color: white;
    font-weight: 600;
}
.download-btn-parent{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.download-btn{
    padding: 8px 10px;
    background-color: rgb(3, 187, 3);
    color: white;
    border-radius: 4px;
    outline: none;
    border: none;
    font-size: 0.9rem;
    letter-spacing: 0.03rem;
}

.download-btn:hover{
    cursor: pointer;
    background-color: rgb(3, 168, 3);
}

.compulsory-feilds{
    color: red;
}