.container{
    margin: 0 12px;
}
.accordion-item {
    
    margin: 20px auto;
    max-width: 1200px;
    
}

  
  .accordion-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 12px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-style: normal;
    font-size: large;
    color: #555;
  }
  
  .accordion-title img{
    width: 10px;
    height: 10px;
  }
  .accordion-content {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-style: normal;
    font-size: large;
    color: #555;
  }
  